.mainAddButton {
    padding: 10px;
    margin: 20px;
    background-color: #082e81;
    width: 150px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
  }
  .choose{
    background-color: white;color: black;
  }
  .container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(245, 240, 240, 0.5);
    position: fixed;
    top:0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title{
    text-decoration: underline;
    color: black;
    text-align: center;
    font-size: 30px;
  }
  
  .wrapper {
    width: 800px;
    height:auto;
    background-color: white;
    padding: 10px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    color: black;
  }
  
  .close {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(75, 72, 72);
  }
  
  .input {
    border: 2px solid black;
    outline: none;
    width: 50%;
    background-color: white;
    color: black;

  }
  
  .priceContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .inputSm {
    background-color: white;
    
    width: 25%;
  }
  
  .extra {
    display: flex;
    justify-content: space-between;
  }
  
  .extraItems {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .desc{
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  .extraItem {
    padding: 5px;
    font-size: 14px;
    border: 1px solid tomato;
    background-color: white;
    color: tomato;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .addButton {
    width: 25%;
    border: none;
    background-color: teal;
    color: white;
    font-weight: 500;
    cursor: pointer;
    padding: 5px 0;
    align-self: flex-end;
  }